#essay.kent-index .card strong {
    color:#444d;
}

#essay.kent-index .card ul {
    font-size: 1em;
}

element.style {
}
<style>
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    grid-auto-rows: 1fr;
    grid-gap: 1.8rem;
}
