#essay.kent-index .card strong {
    color:#444d;
}

#essay.kent-index .card ul {
    font-size: 1em;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-color: black;
}

.pageLink {
    font-size: 1em;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 4vh;
    cursor: pointer;
  }