/* CSS for documentation site */

a {
    color: #0000EE !important;
    text-decoration: underline !important;
}

a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
    cursor: pointer;
    color: #551A8B !important;
}