.vscode
.DS_Store
.venv
node_modules
package-lock.json
CNAME
creds
creds.yaml
gcreds.json
webapp/config.yaml
utils/email-client/config.yaml
utils/iiif-server/config.yaml
index.xml
sitemap.xml
*.pyc
.vite
